warhammerfb	majordomo@direwolf.com
warhammerfb-digest	majordomo@direwolf.com
test		jco@bbn.com
Firewalls	majordomo@greatcircle.com
info Firewalls	http://www.greatcircle.com/firewalls/
info Firewalls-digest	http://www.greatcircle.com/firewalls/
Firewalls-digest	majordomo@greatcircle.com
help		webmaster@www.noname.org
default	warhammerfb
